########################################
# IntelliJ IDEA
########################################
.idea/
*.iml

########################################
# VS Code
########################################
.vscode/

########################################
# Maven
########################################
**/target/

########################################
# Spring local config
########################################
**/src/main/resources/application-local.yml

########################################
# Environment files
########################################
.env
.env.*

########################################
# Astra Secure Connect Bundles
########################################
**/src/main/resources/astra/*.zip

########################################
# Logs
########################################
*.log

########################################
# OS files
########################################
.DS_Store
Thumbs.db